<a href="https://colab.research.google.com/github/Meghanaaggadi/Meghanaaggadi/blob/main/Megha4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing details

In [2]:
import numpy 
import math 
import random
import pandas

Data list input

In [3]:
product = pandas.read_csv('/content/drive/MyDrive/social_network.csv')
product.drop(['User ID'], axis = 1, inplace = True)
product.head(10)

  Social Media  Gender   Age  EstimatedSalary  Purchased
0     Facebook    Male  19.0          19000.0        0.0
1      Twitter    Male  35.0          20000.0        0.0
2    Instagram  Female  26.0          43000.0        0.0
3      Linkdin  Female  27.0          57000.0        0.0
4     Facebook    Male  19.0          76000.0        0.0
5      Twitter    Male  27.0          58000.0        0.0
6    Instagram  Female  27.0          84000.0        0.0
7      Linkdin  Female  32.0         150000.0        1.0
8     Facebook    Male  25.0          33000.0        0.0
9      Twitter  Female  35.0          65000.0        0.0

Binary conversions

In [4]:
varlist =  ['Gender']
def binary_map(x):
    return x.map({'Male': 1, "Female": 0})

product[varlist] = product[varlist].apply(binary_map)

Category conversions

In [5]:
status = pandas.get_dummies(product['Social Media'], drop_first = True)
product = pandas.concat([product, status], axis = 1)
product.drop(['Social Media'], axis = 1, inplace = True)
product

     Gender   Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0       1.0  19.0          19000.0        0.0          0        0        0
1       1.0  35.0          20000.0        0.0          0        0        1
2       0.0  26.0          43000.0        0.0          1        0        0
3       0.0  27.0          57000.0        0.0          0        1        0
4       1.0  19.0          76000.0        0.0          0        0        0
..      ...   ...              ...        ...        ...      ...      ...
396     1.0  51.0          23000.0        1.0          0        0        1
397     0.0  50.0          20000.0        1.0          1        0        0
398     1.0  36.0          33000.0        0.0          0        1        0
399     0.0  49.0          36000.0        1.0          0        0        0
400     NaN   NaN              NaN        NaN          0        0        0

[401 rows x 7 columns]

Finding For Null Values

In [6]:
print(product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    float64
 1   Age              400 non-null    float64
 2   EstimatedSalary  400 non-null    float64
 3   Purchased        400 non-null    float64
 4   Instagram        401 non-null    uint8
 5   Linkdin          401 non-null    uint8
 6   Twitter          401 non-null    uint8
dtypes: float64(4), uint8(3)
memory usage: 13.8 KB
None

In [7]:
print(product.describe())

           Gender         Age  EstimatedSalary   Purchased   Instagram  \
count  400.000000  400.000000       400.000000  400.000000  401.000000
mean     0.490000   40.175000     69742.500000    0.357500    0.259352
std      0.500526   31.709511     34096.960282    0.479864    0.438826
min      0.000000   18.000000     15000.000000    0.000000    0.000000
25%      0.000000   30.000000     43000.000000    0.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000    1.000000
max      1.000000  480.000000    150000.000000    1.000000    1.000000

          Linkdin     Twitter
count  401.000000  401.000000
mean     0.216958    0.256858
std      0.412688    0.437446
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000

Outline detection

In [8]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = numpy.mean(data)
    std = numpy.std(data)
    for i in data:
        z_score = (i-mean)/std
        if (numpy.abs(z_score) > thres):
            outliers.append(i)
    return outliers

In [9]:
sample_outliers_Age = detect_outliers_zscore(product['Age'])
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480.0, 270.0, 370.0]

In [10]:
print(product.describe())

           Gender         Age  EstimatedSalary   Purchased   Instagram  \
count  400.000000  400.000000       400.000000  400.000000  401.000000
mean     0.490000   40.175000     69742.500000    0.357500    0.259352
std      0.500526   31.709511     34096.960282    0.479864    0.438826
min      0.000000   18.000000     15000.000000    0.000000    0.000000
25%      0.000000   30.000000     43000.000000    0.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000    1.000000
max      1.000000  480.000000    150000.000000    1.000000    1.000000

          Linkdin     Twitter
count  401.000000  401.000000
mean     0.216958    0.256858
std      0.412688    0.437446
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000

In [11]:
print(product.isnull().sum())

Gender             1
Age                1
EstimatedSalary    1
Purchased          1
Instagram          0
Linkdin            0
Twitter            0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
dataframe = product.values
X, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 10)
x_train

array([[0.00e+00, 4.60e+01, 9.60e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [1.00e+00, 4.10e+01, 4.50e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [1.00e+00, 2.70e+01, 8.80e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       ...,
       [1.00e+00, 2.90e+01, 8.00e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [0.00e+00, 3.90e+01, 6.10e+04, 0.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 4.20e+01, 1.08e+05, 1.00e+00, 0.00e+00, 1.00e+00]])

Thank you ..